includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/

    # Level 0-9 (0=basic, 9=strictest)
    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php
